<%= form_tag update_queuer_path(@warp_user.api_key), :method => 'patch' do |form| %>

  
  <div class="field">
    <strong><%= label_tag :new_name %></strong>
    <%= text_field_tag :new_name %>
  </div>
    
  <div class="field">
    <strong><%= label_tag :new_key do |label|%>key (our secret)<% end %></strong><br>
    <%= text_field_tag :new_key %>
  </div>
  
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
