<%= form_for @warp_user, url: user_path(@warp_user) do |form| %>

  
  <div class="field">
    <strong><%= form.label :channel_name %></strong>
    <%= form.text_field :channel_name %>
  </div>
    
  <div class="field">
    <strong><%= form.label :encrypted_api_key do |label|%>key (our secret)<% end %></strong><br>
    <%= form.text_field :api_key %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
