
<style>
  body {
    background-color: #ecbb00;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: white;
  }
  .zoomer { transition: transform .2s; }
  .zoomer:hover { transform: scale(1.2); }

  i.fas{
    color:white;
  }
  .level-card{
    background-color: #c19c00;
    margin-bottom: 32px;
  }
  .level-card.card-header {
    background-color:#8e7000;
  }

  .settings-card {
    background-color: #f9db00;
    margin-bottom: 32px;
    color: #c19c00;
  }
  .settings-card.card-header {
    color: white;
  }
</style>

<div class="container-fluid row">

  <div class="col-lg-2">
    &nbsp;
  </div>

  <div class="col-xs-6 col-lg-8">
    <div class="card settings-card">
	
      <div class="card-header settings-card">
        <h1>Hello, <strong><%= @warp_user.channel_name %>!</h1></strong>
      </div>
      <div class="card-body settings-card">
        <p>
          Linking to your queue, for viewers to see:&nbsp;
          <strong><code>
            <%= user_levels_url(@warp_user) %>
          </code></strong>
        </p>

        <%= render("bot_info", usr: @warp_user) %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-6">
	
        <div class="card settings-card">
          <div class="card-header settings-card">
            <strong><h3>
              Editing your user info
            </h3></strong>
          </div>
		
          <div class="card-body settings-card">
            <%= render "formus", warp_user: @warp_user %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="card settings-card">
          <div class="card-header settings-card">
            <strong><h3>Submission management <span style="text-align:'right';"><i id="sub-mgmt-spinner" style="display: none;" class="fa fa-spin fa-spinner"></i></span></h3></strong>
          </div>
        <div class="card-body settings-card">
          <p style="text-align: center;">
            <%= render "faucet" %>
          </p>
          <% empty = @levels == nil or @levels == []%>
          <% if empty then %>
          <p>
            <strong>The queue is empty</strong>
          </p>
          <% else %>

          <p>
            <strong>Clear all levels from queue:</strong>&nbsp;
            <%#= link_to list_clear_all_url(@warp_user.api_key) %>
            <button id="sub-mgmt-clear-btn" type="button">Commit</button>
          <%# end %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

$('#sub-mgmt-clear-btn').click(function(){
$('#sub-mgmt-spinner').show();
$.get('<%= list_clear_all_url(@warp_user.api_key) %>');
});
</script>

<div class="col-sm-2"> &nbsp;</div>
</div>
<hr/>
<% if empty then %>
<p>...<br>
<br>
-</p>
<% else %>
<h1>Level submissions<span style="text-align:right;"><i id="level-list-spinner" class="fas fa-spin fa-spinner" style="display:none;"></i></span></h1>

<p>
  By hitting play, you can see how long has been spent on a level. <br>
  When you are done, hit either to complete or skip the current level.<br>

</p>


<!-- #f9db00 -->


<div class="container-fluid row">
  <% @levels.each do |l| %>
  <% if l.status == "current" then %>
  <div class="col-md-3"></div>
  
  <div class="col-md-6">
    <div class="card level-card zoomer">
      <div class="card-header level-card">
        <table width="100%"><tr>

          <td width="*">
            <h5>
             <strong><%= l.added_by %></strong>,
             <%= distance_of_time_in_words_to_now l.created_at %> ago
            </h5>
          </td>
      
	      <td width="40%">&nbsp;</td>
      
          <td width="10%">
            <%= link_to reset_level_path(@warp_user.api_key, l.code) do |link| %>
            <i class="fas fa-lg fa-undo"></i>
            <% end %>
            <%= link_to remove_level_path(@warp_user.api_key, l.code) do |link| %>
            <i class="fas fa-lg fa-trash"></i>
            <%end %>
          </td>
        </tr></table>
      </div>

      <div class="card-body level-card">
        <% if l.status == "current" then %><i class="fas fa-thumbs-up"></i><% end %>

        <strong>
          <div id="time-started-<%=l.id %>" style="display:none;">
            <% if l.started_at != nil then %>
            <%= l.started_at.to_f * 1000 %>
            <% end %>
          </div>

          <div id="time-spent-<%=l.id %>">
            <% if l.completed_at == nil then %>
            <%= l.started_at.to_f * 1000 %>
            <% else %>
            <%= (l.completed_at - l.started_at).to_f * 1000 %>
            <% end %>
          </div>
        </strong>

        <script>
          setInterval(function(){
            var fuck = $('#time-started-<%=l.id %>');
            var d = fuck.innerHTML;
          }, 5000);
        </script>

       <%= link_to queue_play_path(api_key: @warp_user.api_key, code: l.code), remote: :true do |link| %>
        <h2>
          <div style="color: transparent;font-weight:bold; text-shadow: 0 0 9.5px rgba(0,0,0,0.5);"><%= l.code %></div>
        </h2>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="col-md-3"></div>
  <% else %>
  
  <% end %>
  <% end %>
<% end %>
</div>



<p>
  <table border="2">
    <thead>
    <strong>
      <tr>
        <td>Current level?</td>
        <td>Time spent</td>
        <td>&nbsp;</td>
        <td>Added by</td>
        <td>Status</td>
        <td>Time since submission</td>

        <td>&nbsp;</td>
        <td>Level code</td>
        <td>&nbsp;</td>

        <td>Play</td>
        <td>Skip</td>
        <td>Complete</td>
        <td>Reset</td>
        <td>&nbsp;</td>
        <td>Delete</td>
      </tr>
    </strong>
  </thead>
  
  <script>
    function c(content)
	{
	  return '<td>' + content + '</td>';
	}
function url_for(method, obj)
{
  var s = window.location;
  
  s += '/c/' + method + '/' + obj;
  return s;
}
function buttons_for_row(level)
{
  var s = "";
  s += c('<a class="level-list-control" href="'+url_for('start', level)+'"><i class="fas fa-play"></i></a>');
  s += c('<a class="level-list-control" href="'+url_for('skip', level)+'"><i class="fas fa-next"></i></a>');
  s += c('<a class="level-list-control" href="'+url_for('complete', level)+'"><i class="fas fa-stop"></i></a>');
  s += c('<a class="level-list-control" href="'+url_for('reset', level)+'"><i class="fas fa-reset"></i></a>');
  s += c('');
  s += c('<a class="level-list-control" href="'+url_for('remove', level)+'"><i class="fas fa-trash"></i></a>');
  return s;
}


    function create_row(id, status, timestamp1, timestamp2, user, level)
	{
	  var s = '<tr id=\"level-list-row-' + id + '\">';
	  s += c(status == 'current'?'<i class="fas fa-thumbs-up"></i>':'');
	  s += c(timestamp2);
	  s += c('');
	  s += c(user);
	  s += c(status);
	  s += c(timestamp1);
	  s += c('');
	  s += c(level);
	  s += c('');
	  s += buttons_for_(level);
	  	
	  s += '</tr>';
	  return s;
	}
  
	$(document).ready(
	function(){
	
	$('.level-list-control').click(function(){
	  $('#level-list-spinner').show();
	});
	
	var s = $('#level-list').html();
	<% @levels.each do |l| %>
      s += create_row(<%=l.id%>,'<%=l.status == nil ? "" : l.status%>','<%=l.created_at%>','<%=l.started_at%>','<%=l.added_by%>','<%=l.code%>');
	<%end%>
	$('#level-list').html(s);
	});
	</script>
  <tbody id="level-list">
  </tbody>
	<!--
	<tr>
      <td><%# if l.status == "current" then %><i class="fas fa-thumbs-up"></i><%#end%> </td>
      <td><strong>
        <%# if l.status == "current" then %>
        <%#= distance_of_time_in_words_to_now l.started_at %></strong></td>
        <%# else %>
        <%# if l.started_at != nil and l.completed_at != nil then %>
        <%#= distance_of_time_in_words (l.completed_at - l.started_at) %>
        <%# end %>
        <%# end %>
        <td>&nbsp;</td>

        <td><strong><%#= l.added_by %></strong></td>
        <td><%#= l.status %></td>
        <td><%#= distance_of_time_in_words_to_now(l.created_at) %></td>

        <td>&nbsp;</td>        
		<td><div style="color: transparent; text-shadow: 0 0 4.5px rgba(0,0,0,0.5);"><%#= l.code %></div></td>
        
		<td>&nbsp;</td>

        <td><%#= link_to start_level_path(@warp_user.api_key, l.code) do |link| %>
            <i class="fas fa-play"></i>
          <%# end %>
        </td>

        <td><%#= link_to skip_level_path(@warp_user.api_key, l.code) do |link| %>
            <i class="fas fa-forward"></i>
          <%# end %></td>

        <td><%#= link_to complete_level_path(@warp_user.api_key, l.code) do |link| %>
            <i class="fas fa-check"></i>
          <%# end %></td>

        <td><%#= link_to reset_level_path(@warp_user.api_key, @levels.take().code) do |link| %>
            <i class="fas fa-undo"></i>
          <%# end %></td>

        <td>&nbsp;</td>
        
		<td><%#= link_to remove_level_path(@warp_user.api_key, l.code) do |link| %>
            <i class="fas fa-trash"></i>
            <%# end %></td>

      </tr>
      <%# end %>
    <!-- </tbody> -->
  </table>
</p>
